{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Our Team Section</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'abs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="{% static 'abs.js' %}"></script>

</head>

<body>

    <nav>
        <div class="logo">
            <h1>Nested</h1>
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a href="/">Home</a></li>
            <li><a href="category">Category</a></li>
            <li><a href="live">LIVE</a></li>
            <li><a href="about" class="last_ico">About</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-github"></i>
                </span>
        </ul>
    </nav>

    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="{% static 'teammem/team1.png' %}" alt="Team_image">
                </div>
                <h3>Hemant Sharma</h3>
                <p class="role">I'm a <span class="typing"></span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="{% static 'teammem/team2.png' %}" alt="Team_image">
                </div>
                <h3>Mohit Satija</h3>
                <p class="role">I'm a <span class="typing1"></span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="{% static 'teammem/team3.png' %}" alt="Team_image">
                </div>
                <h3>Anubhav Mishra</h3>
                <p class="role">I'm a <span class="typing2"></span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
            </div>
        </div>
    </div>

    <div class="bubbles">
        <img src="{% static 'root/bubble.png' %}">
        <img src="{% static 'root/bubble.png' %}">
        <img src="{% static 'root/bubble.png' %}">
        <img src="{% static 'root/bubble.png' %}">
        <img src="{% static 'root/bubble.png' %}">
        <img id="out-of-box" src="{% static 'root/bubble.png' %}">
        <img id="out-of-box" src="{% static 'root/bubble.png' %}">
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>


</html>