{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live-Score</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <style>
        #score-frame {
            display: none;
        }
        
        @media (max-width: 700px) {
            .container-iframe {
                display: none;
            }
            #score-frame {
                display: block;
            }
        }
    </style>
</head>

<body>

    <nav>
        <div class="logo">
            <h1>Nested</h1>
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a href="/">Home</a></li>
            <li><a href="category">Category</a></li>
            <li><a href="live">LIVE</a></li>
            <li><a href="about" class="last_ico">About</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100004779451804" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/hks74123/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UC41ksagdFtAUKfSsNzGubhA" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://github.com/EH-GD-MOHIT21" target="_blank"><i class="fab fa-github"></i></a>
                </span>
        </ul>
    </nav>

    <div class="container-iframe">
        <iframe src="https://widget.crictimes.org/" frameborder="0" scrolling="yes"></iframe>
    </div>
    <div id="score-frame">
        <a rel="nofollow" href="https://www.crictimes.org/cricket-scores">Live Cricket Scores</a>
    </div>
    <script type="text/javascript">
        var html = document.getElementById('score-frame');
        html.innerHTML = '<iframe src="https://cwidget.crictimes.org/?v=1.1&a=000000&c=000000&lc=646464&ti=90ee90&db=ff9900&tc=ff0000&sb=fff2cc&b=ffffff" style="width:100%;min-height: 460px;" frameborder="0" scrolling="yes"></iframe>';
    </script>


    <script src="{% static 'app.js' %}"></script>
</body>

</html>
